# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Logs
logs/*.log

# Environment
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db
# Android Platform Tools
tools/platform-tools/